.board {
    display: grid;
    grid-template-columns: repeat(3, 105px);
}

.cell {
    height: 100px;
    width: 100px;
    border: solid;
    display: grid;
    align-content: center;
    justify-content: center;
}